@font-face {
  font-family: "Jost";
  font-display: swap;
  src: url("../fonts/Jost-Bold.woff") format("woff"), url("../fonts/Jost-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  font-display: swap;
  src: url("../fonts/Jost-Medium.woff") format("woff"), url("../fonts/Jost-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1730px;
  margin: 0 auto;
  padding: 0 15px;
}

.drop,
.drop__mobile {
  cursor: pointer;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.slick-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  background-color: #ececeb;
  width: 7px;
  height: 7px;
  font-size: 0;
  border-radius: 50%;
}

.slick-dots button + .slick-dots button {
  margin-left: 10px;
}

.slick-dots li.slick-active button {
  background: #151515;
}

body {
  font-family: "Jost-Medium", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 15px;
}

body.lock {
  overflow: hidden;
}

.header {
  background-color: #f5d4d2;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  position: relative;
}

.header-burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
}

.header-burger span,
.header-burger::after,
.header-burger::before {
  position: absolute;
  content: "";
  left: 0;
  background-color: #151515;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-burger::after {
  bottom: 9px;
}

.header-burger span {
  bottom: 1px;
}

.header-burger::before {
  top: 1px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 70px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-item + .menu-item {
  margin-left: 50px;
}

.menu-item__link {
  color: #151515;
  line-height: 24px;
  position: relative;
}

.menu-item__link:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  background-color: #151515;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 0;
}

.menu-item__link:hover:before {
  width: 100%;
}

.user-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-list__item {
  margin-right: 10px;
}

.user-list__link img {
  width: 20px;
  height: 20px;
}

.basket {
  position: relative;
}

.basket__num {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 22px;
  line-height: 18px;
  font-size: 9px;
  border-radius: 50%;
  background-color: #151515;
  color: #fff;
  text-align: center;
}

.hero {
  background-color: #f5d4d2;
  margin-bottom: 30px;
}

.hero__slider-item {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__slider-title {
  font-family: "Jost-Bold", sans-serif;
  font-weight: 700;
  font-size: 62px;
  line-height: 1;
  margin-bottom: 10px;
}

.hero__slider-suptitle {
  font-size: 18px;
}

.hero__slider-img {
  margin-right: 20px;
}

.hero__slider-img img {
  max-width: 500px;
  max-height: 600px;
}

.hero__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.banner__item {
  width: 600px;
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff0e7;
  padding: 0 30px;
}

.banner__item + .banner__item {
  margin-left: 10px;
}

.banner__item:nth-child(2) {
  background-color: #f1c8c6;
}

.banner__item:nth-child(3) {
  background-color: #fddfbf;
}

.banner__item-title {
  font-size: 30px;
  margin-bottom: 10px;
}

.banner__item-link {
  font-size: 15px;
  color: #151515;
  position: relative;
}

.banner__item-link::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  height: 2px;
  background-color: #151515;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  width: 0;
}

.banner__item-link:hover::before {
  width: 100%;
}

.banner__item-img img {
  max-height: 290px;
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}

.search__content-item.tabs-content--active {
  display: block;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.product-img {
  position: relative;
}

.product-img__descr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 18px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.product-img__descr-link {
  font-size: 15px;
  padding: 10px 12px;
  background: rgba(241, 238, 238, 0.9);
  color: #151515;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.product-img__descr-link:hover {
  background: white;
}

.product__item {
  width: 290px;
  height: 100%;
  margin: 10px;
}

.product__item.product__item--not-new .product__item-textnew {
  display: none;
}

.product__item-imgcontainer {
  position: relative;
}

.product__item-favorite::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23px;
  height: 24px;
}

.product__item-favorite--active::before {
  background-image: url("../img/heart-active.svg");
}

.product__item-img {
  max-width: 100%;
}

.product__item-imgcontainer:hover .product-img__descr {
  opacity: 1;
  visibility: visible;
}

.product__item-sale {
  position: absolute;
  bottom: 18px;
  left: 0;
  color: #fff;
  background-color: #f93c00;
  padding: 1px 5px;
  border-radius: 0 7px 0 0;
  font-size: 10px;
}

.product__item-text {
  font-family: "Jost-Bold", sans-serif;
  font-weight: 700;
  font-size: 10px;
}

.product__item-textnew {
  margin-bottom: 5px;
  font-size: 14px;
}

.product__item-textdescr {
  font-size: 13px;
  color: #454545;
  margin-bottom: 5px;
}

.product__item-textprice {
  font-family: "Jost-Bold", sans-serif;
  font-weight: 700;
}

.product__item.product__item--not-oldprice .item__price-old {
  display: none;
}

.product__item.product__item--not-oldprice-sale {
  display: none;
}

.item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}

.item__price-now {
  margin-right: 10px;
}

.item__price-old {
  color: #c36b84;
  text-decoration: line-through;
}

.product__tabs {
  text-align: center;
  margin-bottom: 30px;
}

.product__tab {
  font-family: "Jost-Medium", sans-serif;
  font-weight: 500;
  color: #151515;
  padding: 0 5px;
}

.product__tab + .product__tab {
  margin-left: 30px;
}

.product__tab.tab--active {
  font-weight: bold;
}

.product__more {
  font-size: 13px;
  text-align: center;
  margin-bottom: 75px;
}

.product__more-link {
  color: #c36b84;
}

.product__more-img {
  display: block;
  width: 25px;
  height: 25px;
  margin: auto;
  margin-top: 10px;
}

.shop-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.shop-banner__item {
  max-width: 860px;
  max-height: 320px;
  position: relative;
}

.shop-banner__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop-banner__descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-banner__descrtext {
  color: #fff;
  text-align: center;
}

.shop-banner__descr-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.shop-banner__descr-link {
  color: #fff;
  position: relative;
}

.shop-banner__descr-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  background-color: #fff;
  width: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.shop-banner__descr-link:hover::before {
  width: 100%;
}

.shop-banner__item:hover .shop-banner__descr {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(215, 8, 8, 0.1);
}

.contact {
  margin-bottom: 100px;
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service-box__list-title,
.company-box-title,
.newsletter-box__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}

.service-box__list-link,
.company-box__list-link {
  font-size: 12px;
  color: #454545;
}

.service-box__list-item + .service-box__list-item {
  margin-top: 20px;
}

.company-box__list-item + .company-box__list-item {
  margin-top: 20px;
}

.newsletter-box {
  width: 600px;
}

.newsletter-box__sale {
  margin-bottom: 30px;
}

.newsletter-box__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.newsletter-box__form-input {
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #151515;
}

.newsletter-box__form-btn {
  font-family: "Jost-Medium", sans-serif;
  font-weight: 500;
  background-color: transparent;
  border-bottom: 2px solid #151515;
  padding: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.newsletter-box__form-btn:hover {
  background-color: #151515;
  color: #fff;
}

.drop__mobile {
  position: relative;
}

.drop__mobile::after,
.drop__mobile::before {
  display: none;
  position: absolute;
  content: "";
  top: 50%;
  height: 1px;
  width: 10px;
  background-color: #151515;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.drop__mobile::before {
  right: 0px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.drop__mobile::after {
  right: 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drop__mobile--active::before {
  right: 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drop__mobile--active::after {
  right: 7px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer {
  margin-top: auto;
}

.footer-inner {
  border-top: 1px solid #fddfbf;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-inner__policy-link {
  color: #151515;
  font-weight: bold;
}

.footer-inner__policy-link + .footer-inner__policy-link {
  margin-left: 25px;
}

.footer-inner__social-link {
  width: 25px;
  height: 25px;
}

.footer-inner__social-link img {
  width: 25px;
  height: 25px;
}

.footer-inner__social-link + .footer-inner__social-link {
  margin-left: 10px;
}

.service-box__list-link,
.company-box__list-link {
  position: relative;
}

.service-box__list-link::before,
.company-box__list-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -3px;
  background-color: #151515;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.service-box__list-link:hover::before,
.company-box__list-link:hover::before {
  width: 100%;
}

.drop__mobile {
  pointer-events: none;
}

.first {
  background-color: #f5d4d2;
}

.first-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-item__content {
  width: 400px;
}

.first-item__img {
  margin-right: 25px;
}

.first-item__img img {
  max-height: 470px;
}

.first-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 350px;
}

.first-slider__content-title {
  font-size: 36px;
  font-weight: 700;
}

.first .first-slide .first-slider__btn {
  width: 30px;
  height: 30px;
}

.first .first-slider__content-title {
  margin-bottom: 10px;
}

.first .first-slider__content-text {
  margin-bottom: 30px;
  color: #454545;
}

.first .first-slider__content-btn {
  padding: 17px 35px;
  border: 1px solid #151515;
  font-size: 14px;
  color: #151515;
  font-weight: 700;
  border-radius: 20px;
}

.first .first-slider__content-btn:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  background-color: #151515;
  color: #fff;
}

.breadcrumbs {
  padding: 30px 0;
}

.breadcrumbs__list-item {
  display: inline-block;
  text-transform: uppercase;
  color: #151515;
  font-size: 10px;
}

.breadcrumbs__list-item a {
  color: #151515;
}

.breadcrumbs__list-item span {
  font-weight: 700;
}

.breadcrumbs__list-item::after {
  padding: 0 10px;
  content: "/";
}

.breadcrumbs__list-item:last-child::after {
  content: "";
}

.catalog {
  margin: 0 0 50px 0;
  border-top: 1px solid #fddfbf;
}

.catalog-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.catalog-inner__item + .catalog-inner__item {
  margin-left: 100px;
}

.catalog .catalog-form {
  width: 235px;
}

.catalog .catalog-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0 14px;
}

.catalog .catalog-form__item {
  border-top: 1px solid #fddfbf;
  padding: 25px 0;
}

.catalog .catalog-form__content-box {
  width: 100%;
  margin-top: 15px;
}

.catalog .catalog-form__content-box:nth-child(1) {
  margin-top: 0;
}

.catalog .catalog-form__content-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c36b84;
  cursor: pointer;
}

.catalog .catalog-form__content-input {
  position: absolute;
  cursor: pointer;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 15px;
}

.catalog .catalog-form__content-input:checked + .catalog-form__content-inputspan:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 7px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog .catalog-form__content-inputspan {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #aaaaaa;
  margin-left: -15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.catalog .catalog-form__item-title {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.catalog .catalog-form__item-title::after,
.catalog .catalog-form__item-title::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  height: 2px;
  width: 12px;
  background-color: #f5d4d2;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.catalog .catalog-form__item-title::after {
  top: 45%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.drop__content.drop__content--active .catalog-form__content-inputspan {
  opacity: 1;
}

.drop.drop--active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.choice-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.choice-grid__btn {
  font-size: 13px;
  padding: 0 10px 10px 10px;
}

.catalog-filter__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-filter__hide-btn {
  margin-bottom: 20px;
  font-weight: 700;
}

.product__item.product__item--five {
  width: 16%;
}

.product__item.product__item--five .product__item-favorite::before {
  width: 16px;
  height: 16px;
}

.product__item.product__item--four {
  width: 20%;
}

.product__item.product__item--four .product__item-favorite::before {
  width: 20px;
  height: 20px;
}

.product__item.product__item--three {
  width: 29%;
}

.choice-grid__btn.choice-grid__btn--active {
  font-weight: 700;
  padding-top: 3px;
  border-bottom: 3px solid #151515;
}

.pagination {
  margin-top: 50px;
  width: 100%;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-list__item {
  cursor: pointer;
  padding: 10px 15px;
  color: #c36b84;
  font-size: 12px;
  border: 1px solid #c36b84;
}

.pagination-list__item + .pagination-list__item {
  margin-left: 10px;
}

.pagination-list__item-link {
  color: #c36b84;
}

.pagination-list__item--active {
  color: #fff;
  background-color: #151515;
}

.pagination-list__item--active .pagination-list__item-link {
  color: #fff;
}

.catalog-inner__show {
  display: none;
}

.card-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.card-slider__big {
  width: 85px;
}

.card-slider__big-item + .card-slider__big-item {
  margin-top: 10px;
}

.card-slider__big.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-slider__nav .slick-track {
  display: block;
}

.card-slider__nav div {
  max-width: 550px;
  height: 650px;
  overflow: hidden;
}

.card-slider__nav-item img {
  max-width: 100%;
  height: 650px;
}

.card-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-inner__content {
  width: 500px;
}

.card-content {
  margin-top: 50px;
}

.card-content__best {
  font-size: 10px;
  margin-bottom: 10px;
}

.card-content__title {
  font-size: 24px;
}

.card-content__star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.rate {
  max-width: 60px;
}

.rate svg {
  width: 12px;
}

.card-content__star-review {
  font-size: 11px;
  color: #c36b84;
}

.card-content__price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card-content__price-old {
  font-size: 20px;
  color: #c36b84;
  position: relative;
}

.card-content__price-old::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #c36b84;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.card-content__descr {
  font-size: 12px;
  margin-bottom: 20px;
}

.card-slider__nav .slick-prev,
.card-slider__nav .slick-next {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

.card-slider__nav .slick-prev {
  position: absolute;
  top: 0;
  right: 35px;
}

.card-slider__big .is-active {
  opacity: 0.5;
}

.color-select {
  margin-bottom: 20px;
}

.color-select__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color-select__item + .color-select__item {
  margin-left: 15px;
}

.color-select__btn {
  width: 25px;
  height: 25px;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.color-select__btn:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid #c36b84;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.color-select__btn:hover::before {
  border: 1px solid #151515;
}

.color-select__btn--active::before {
  border: 1px solid #151515;
}

.color-select__selected {
  margin-bottom: 10px;
  font-size: 12px;
}

.color-select__selected-color {
  font-weight: 700;
  font-size: 12px;
}

.size-select {
  border-bottom: 1px solid #151515;
  margin-bottom: 20px;
}

.size-select__title {
  font-weight: 700;
  font-size: 17px;
  position: relative;
  padding: 10px 0;
}

.size-select__title::after,
.size-select__title::before {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  content: "";
  top: 50%;
  height: 1px;
  width: 10px;
  background-color: #151515;
}

.size-select__title:after {
  right: 6px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.size-select__title::before {
  right: -1px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.size-select__title.drop--active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.size-select__title.drop--active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.size-select__list-item {
  text-align: center;
  margin-bottom: 10px;
}

.size-select__list-span {
  cursor: pointer;
}

.card-descr {
  border-bottom: 1px solid #151515;
  margin-bottom: 20px;
}

.card-descr__title {
  font-size: 17px;
  font-weight: 700;
  padding: 10px 0;
  position: relative;
}

.card-descr__title::after,
.card-descr__title::before {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  content: "";
  top: 50%;
  height: 1px;
  width: 10px;
  background-color: #151515;
}

.card-descr__title:after {
  right: 6px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.card-descr__title::before {
  right: -1px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.card-descr__title.drop--active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.card-descr__title.drop--active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.card-descr__list-item {
  margin-bottom: 10px;
}

.card-descr__list-value {
  font-weight: 700;
  font-size: 13px;
}

.card-descr__list-label {
  font-size: 13px;
}

.card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-btn__basket {
  padding: 10px 15px;
  border: 1px solid #151515;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 10px;
}

.card-btn__basket:hover {
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  background-color: #151515;
}

.card-btn__favorite {
  padding: 18px;
  border: 1px solid #151515;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card-btn__favorite::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.card-btn__favorite:hover {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  background-color: #151515;
}

.card-btn__favorite:hover:before {
  background-image: url("../img/heart-active.svg");
}

.similar-slider {
  position: relative;
  padding: 20px 0 50px;
}

.similar-slider .slick-list {
  overflow: hidden;
}

.similar-slider .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-similar__title {
  font-size: 20px;
  font-weight: 700;
}

.product-container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.to-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 50%;
  right: 25px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.to-top img {
  position: absolute;
  width: 25px;
  height: 21px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.to-top::before {
  position: absolute;
  background-image: url("../img/");
}

.to-top.to-top--active {
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.first-slider__btn-next img,
.first-slider__btn-prev img {
  width: 25px;
  height: 25px;
}

@media (max-width: 1550px) {
  .banner__item {
    padding: 0 30px;
  }
}

@media (max-width: 1420px) {
  .banner__item {
    padding: 0 10px;
  }
}

@media (max-width: 1290px) {
  .banner__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .banner__item {
    margin-top: 10px;
  }

  .banner__item:nth-child(3) {
    margin-left: 0;
  }
}

@media (max-width: 1245px) {
  .banner__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .banner__inner-item {
    margin: 0;
  }

  .banner__item + .banner__item {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 1150px) {
  .card-slider__nav div {
    max-width: 450px;
    height: 550px;
  }

  .card-slider__nav-item img {
    height: 550px;
  }
}

@media (max-width: 1100px) {
  .choice-grid__btn--five {
    display: none;
  }

  .catalog-inner__item + .catalog-inner__item {
    margin-left: 50px;
  }

  .card-slider__nav div {
    max-width: 350px;
    height: 450px;
  }

  .card-slider__nav-item img {
    height: 450px;
  }

  .card-slider__big {
    height: 450px;
  }

  .card-slider__big-item img {
    width: 60px;
  }
}

@media (max-width: 1020px) {
  .newsletter-box {
    width: auto;
  }
}

@media (max-width: 1010px) {
  .hero__slider-img img {
    max-width: 400px;
    max-height: 500px;
  }

  .hero__slider-title {
    font-size: 52px;
  }

  .hero__slider-suptitle {
    font-size: 16px;
  }

  .hero__slider-item {
    height: 500px;
  }
}

@media (max-width: 990px) {
  .card-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card-inner__content {
    text-align: center;
    margin: 0 0 50px;
  }

  .card-content__star,
  .color-select__list,
  .card-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .size-select__title,
  .card-descr__title,
  .card-descr__list {
    text-align: left;
  }

  .card-content {
    margin-top: 0;
  }

  .card-slider {
    margin-bottom: 50px;
  }
}

@media (max-width: 950px) {
  .menu-list {
    margin-right: 50px;
  }

  .menu-item + .menu-item {
    margin-left: 30px;
  }

  .choice-grid {
    display: none;
  }
}

@media (max-width: 900px) {
  .product__item.product__item--four {
    width: 29%;
  }
}

@media (max-width: 835px) {
  .catalog-inner__item + .catalog-inner__item {
    margin-left: 20px;
  }
}

@media (max-width: 820px) {
  .hero__slider-img img {
    max-width: 300px;
  }

  .hero__slider-title {
    font-size: 42px;
  }

  .hero__slider-suptitle {
    font-size: 15px;
  }
}

@media (max-width: 780px) {
  .mobile-overflow__scroll {
    overflow-x: scroll;
  }

  .mobile-overflow {
    width: 1000px;
  }
}

@media (max-width: 750px) {
  .product__item.product__item--four {
    width: 37%;
  }
}

@media (max-width: 720px) {
  .contact__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .newsletter-box {
    margin-top: 25px;
    width: 100%;
  }
}

@media (max-width: 716px) {
  .hero__slider-suptitle {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .header-burger {
    display: block;
  }

  .header-burger--active span {
    bottom: 8px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header-burger--active::after {
    opacity: 0;
  }

  .header-burger--active::before {
    top: 10px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .user-list {
    margin-right: 30px;
  }

  .menu-list {
    z-index: 50;
    display: block;
    position: absolute;
    top: -100%;
    right: -45px;
    background-color: #c36b84;
    padding: 10px 20px;
    width: 150px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
  }

  .menu-list--active {
    top: 90px;
    opacity: 1;
    visibility: visible;
  }

  .menu-item + .menu-item {
    margin: 10px 0 0 0;
  }

  .menu-item__link {
    color: #fff;
  }

  .shop-banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .catalog-inner__show {
    display: block;
    text-align: center;
    width: 100%;
  }

  .catalog-inner__show-btn {
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #151515;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .catalog-inner__show-btn--active {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
    color: #fff;
    background-color: #151515;
  }

  .catalog-inner {
    display: block;
  }

  .catalog-filter {
    display: none;
    text-align: center;
    margin-bottom: 20px;
  }

  .catalog-form {
    width: 80%;
    margin: 0 auto;
  }

  .catalog-inner__item + .catalog-inner__item {
    margin-left: 0;
  }
}

@media (max-width: 656px) {
  .hero__slider-img img {
    display: none;
  }

  .hero__slider-item {
    height: 250px;
  }

  .hero__slider-text {
    text-align: center;
  }

  .hero__slider-title {
    font-size: 37px;
    width: 100%;
  }

  .hero__slider-suptitle {
    font-size: 18px;
  }

  .banner__inner-item {
    width: 100%;
  }

  .first-item__img img {
    display: none;
  }

  .first-item {
    display: block;
  }

  .first-item__content {
    width: 100%;
    height: 145px;
    text-align: center;
  }

  .first-slider__content-title {
    font-size: 15px;
  }

  .first-slider__content-text {
    font-size: 13px;
  }

  .hero__slider-img {
    margin-right: 0;
  }
}

@media (max-width: 550px) {
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-inner__policy {
    margin-bottom: 20px;
  }

  .product__item.product__item--four {
    width: 250px;
  }

  .size-select,
  .card-descr {
    margin: auto;
    max-width: 70%;
  }

  .card-descr {
    margin-bottom: 20px;
  }

  .color-select__btn {
    width: 20px;
    height: 20px;
  }

  .color-select__btn:before {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 515px) {
  .hero__slider-title {
    font-size: 27px;
  }

  .hero__slider-suptitle {
    font-size: 15px;
  }

  .service-box,
  .company-box {
    width: 100%;
  }

  .company-box {
    margin-top: 15px;
  }

  .company-box-title,
  .newsletter-box__title,
  .service-box__list-title {
    margin-bottom: 10px;
  }

  .drop__mobile {
    pointer-events: auto;
    position: relative;
  }

  .drop__mobile::after,
  .drop__mobile::before {
    display: block;
  }

  .drop__mobile-content {
    display: none;
  }

  .drop__mobile.drop__mobile--active .drop__mobile-content {
    display: block;
  }

  .first-slider__content-btn {
    padding: 14px 25px;
  }

  .card-inner__content {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .card-slider {
    position: relative;
  }

  .card-slider .slick-dots {
    bottom: -30px;
  }

  .card-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card-slider__big {
    height: auto;
  }

  .card-slider__big-item img {
    max-width: 45px;
  }

  .card-slider__nav div {
    max-width: 270px;
    height: 350px;
  }

  .card-slider__nav-item img {
    height: 350px;
  }

  .to-top {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 415px) {
  .hero__slider-title {
    font-size: 22px;
  }

  .hero__slider-suptitle {
    font-size: 12px;
  }

  .banner__item-title {
    font-size: 25px;
  }

  .banner__item {
    height: 210px;
  }

  .banner__item-img img {
    max-height: 210px;
  }

  .product__tab + .product__tab {
    margin-left: 10px;
  }

  .shop-banner__descr-title {
    font-size: 38px;
  }

  .footer-inner__policy-link {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 370px) {
  .user-list {
    margin-right: 20px;
  }

  .user-list__item {
    margin-right: 7px;
  }

  .hero__slider-title {
    font-size: 21px;
  }

  .product__tab {
    display: block;
  }

  .product__tab + .product__tab {
    margin: 10px 0 0 0;
  }

  .card-descr__list-label {
    font-size: 12px;
  }

  .card-descr__list-value {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .card-slider__big {
    display: none;
  }
}

@media (max-width: 340px) {
  .banner__item {
    height: 190px;
  }

  .banner__item-img img {
    max-height: 190px;
  }

  .hero__slider-suptitle {
    font-size: 11px;
  }

  .shop-banner__descr-title {
    font-size: 32px;
  }
}
